.DS_Store
.Rhistory
.RData
*~
.Rproj.user

CUNYDS.Rproj

DATA607/Assignment01/rsconnect/documents/DATA607_Assignment01.rmd/rpubs.com/rpubs/Document.dcf

*.org#

DATA606/Project/data/2018 main.rds

DATA607/spampred/data/

*.txt#

DATA605/Discussion/Week06/.#jjeffryes_week06.txt

*.html
